//META{"name":"MadTheme","description":"edited version of neutron x","author":"Spectra, MadMagic","version":"1.2.0"}*//{}

/* base theme*/
@import url("https://raw.githack.com/codedotspectra/themes/master/neutron/importCSS/xcore.css");

/* 
i do not own the base theme, credit goes to spectra for making neutron x, i made some changes to it.
credit for circular status code also goes to spectra, i made a few changes to it but since it was an import,
i needed to add the code to my theme
*/

:root {
    --brightness: 0.3;
    --RoleTitleColor: red;
    --PrimaryColor01: #ff0000;
    --PrimaryColorRGBA: rgba(255,0,0,.15);
    --bgImage: url('https://i.ibb.co/zbghr1d/Dragon-Fantasy-Wallpapers-4k.jpg');
    --customFont: 'Whitney';
}

/* ADD CODE BELOW TO CUSTOMIZE THE THEME */

/* makes the watermark my own*/
.wordmarkWindows-1v0lYD{
	content: url(https://i.ibb.co/Y0ndhnN/madcord.png);
 	width:100px;
 	height:16px;
 	opacity:0.7;
}

/*friends icon*/
.wrapper-1BJsBx[aria-label=Home] {
	content: url(https://cdn.discordapp.com/attachments/480365289276571649/605496889038733366/1564432097428.png);
}

/* changes the unread channels name and "#" to cyan*/
.modeUnread-1zpFdA .name-3_Dsmg,
.modeUnread-1zpFdA .icon-1_QxNX {
    color:cyan !important;
}

/* hides the dot on unread channels*/
.unread-3zKkbm {
	display:none;
}

/* makes the space between servers smaller*/
.listItem-2P_4kh {
    margin-bottom:4px;
}

/* makes unread/mention bar centered*/
.unreadBottom-3hWQ7c {
	display: flex;
	justify-content: center;
}

/* makes server list "new" bar purple-red*/
.bar-30k2ka {
	background: linear-gradient(90deg, purple, red);
}

/* makes the unread bar smaller and purple-blue*/
.bar-30k2ka.unreadBar-3YD_k9 {
    width: 120px;
    background: linear-gradient(90deg, purple, blue) !important;
}

/* makes mentions bar smaller and red-purple*/
.bar-30k2ka.mention-1f5kbO{
	max-width:120px;
    background: linear-gradient(90deg, red, purple) !important;
}

/* makes the message reactions and settings button bg darker*/
.reactionBtn-2na4rd,
.button-3Jq0g9 {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 15px;
}

/* changes the 3 buttons at the top right corner*/
.winButtonClose-1HsbF- {
    background-color: rgba(0, 0, 0, 0) !important;
}
.typeWindows-1za-n7 [stroke] {
    stroke: red;
    fill: rgba(0,0,0,0) !important;
}
.typeWindows-1za-n7 [fill] {
    fill: red;
}

/* makes server names/bar rainbow colored*/
.name-3YKhmS, .item-2hkk8m {
    background: linear-gradient(150deg, red, red, orange, yellow, green, purple) !important;
}

/* fixes bg for server name*/
.name-3YKhmS {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

/* code for circular status, credit to spectra for the code, i modified it*/
	[role="img"][aria-label]:before {
    content: "";
    position: absolute;
	top: -2px;
	left: -2px;
    width: 100%;
    height: 100%;
	border: solid 2px #43b581;
	box-shadow: 0 0 7px #43b581;
    border-radius: 50%;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnName-1zBOKm {padding-left: 15px;}
.avatarOffline-3GF27z {filter: grayscale(100%);}

[role="img"][aria-label] foreignObject {mask: none;}
[role="img"][aria-label] foreignObject img {border-radius:50%;}
[role="img"][aria-label] svg rect {display: none;}

/* fixes userpoput bug*/
.avatarHint-1qgaV3 foreignObject {
    mask: none;
    border-radius: 50%;
    overflow: hidden;
}

[role="img"][aria-label*="Online"]:before {
  border-color: #43b581;
  box-shadow: 0 0 7px #43b581;
}
[role="img"][aria-label*="Do Not Disturb"]:before {
	border-color: #f04747;
	box-shadow: 0 0 7px #f04747;
}
[role="img"][aria-label*="Idle"]:before {
	border-color: #faa61a;
	box-shadow: 0 0 7px #faa61a;
}
[role="img"][aria-label*="Streaming"]:before {
	border-color: #6441a5;
	box-shadow: 0 0 7px #6441a5;
}
[role="img"][aria-label*="Offline"]:before,
.avatarOffline-3GF27z {
	border-color: #747f8d;
	box-shadow: 0 0 7px #747f8d;
}
[role="img"][aria-label*="Invisible"]:before
 {
	border-color:#747f8d;
	box-shadow: 0 0 7px #747f8d;
}

/* glow effect for user popout/profile status*/
.header-2BwW8b [role="img"][aria-label],
.header-QKLPzZ [role="img"][aria-label] {
  box-shadow: 0 0 35px #43b581;
}
.header-2BwW8b [role="img"][aria-label*="Do Not Disturb"],
.header-QKLPzZ [role="img"][aria-label*="Do Not Disturb"] {
  box-shadow: 0 0 35px #f04747;
}
.header-2BwW8b [role="img"][aria-label*="Idle"],
.header-QKLPzZ [role="img"][aria-label*="Idle"] {
  box-shadow: 0 0 35px #faa61a;
}
.header-2BwW8b [role="img"][aria-label*="Streaming"],
.header-QKLPzZ [role="img"][aria-label*="Streaming"] {
  box-shadow: 0 0 35px #6441a5;
}
.header-2BwW8b [role="img"][aria-label*="Offline"],
.header-QKLPzZ [role="img"][aria-label*="Offline"] {
  box-shadow: 0 0 35px #747f8d;
}

/* moves the typing dots to the center of the pfp*/
.cursorDefault-dsQJ1n,
.dots-3Bkt3k {
	overflow: visible;
}
.dots-3Bkt3k [cx="2.5"] {
	cy: -8;
	cx: -8.5;
}
.dots-3Bkt3k [cx="8.75"] {
	cy: -8;
	cx: -2.25;
}
.dots-3Bkt3k [cx="15"]{
	cy: -8;
	cx: 4;
}

/* edits the buttons in bottom left and discrim/vc name colors*/
.size10-tblYdA {
	color: purple !important;
}
.flex-1xMQg5 [Name="Nova_Headset"],
.flex-1xMQg5 [Name="Gear"],
.flex-1xMQg5 [Name="Nova_Microphone"] {
	color: red;
}
.button-14-BFJ {
	background-color: transparent !important;
}

/* animates all of the user popout bg's, credit to spectra for code*/
.da-headerTop {
	background-image: url('https://discordapp.com/assets/8eba753f8b6d02be1013c5e659b0fc2f.png') !important;
	background-color: transparent;
	background-position: center;
	background-size: 200% 200%;
	background-repeat: no-repeat;
	animation-name: moveBackgroundGame;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-delay: 0s
}

/* adds border, slide animation to seleceted channel, and fixed invite/settings position*/
.modeSelected-1zApJ_ .content-3at_AU {
	border-bottom: solid 2px;
	border-image: linear-gradient(to right, red, red, orange) 100% 1;
	transform: translateX(10px);
	width: 215px;
	transition: all .5s ease;
}
